.versionsContainer {
    color: aliceblue;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(15, 15, 15);
    height: 100vh;
  }

  .versionsContainer a {
      cursor: pointer;
   
  }

  .versionsTable p {
    transition:  all .2s ease-in-out;
  }

  .versionsTable p:hover {
      transform: scale(1.05);
  }

  .versionsTable {
      /* border-right: 1px solid purple; */
      padding: .5em;
      
      width: 15vw !important;
      padding-right: 3em;
      box-shadow:  10px 0px 45px purple;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  
  .versionsInfo {
      text-align: left;
      border-left: 1px solid purple;
      padding: 1em;
      padding-left: 5em;
      width: 85vh !important;
  }

  .versionsInfo a {
      color: rgb(190, 96, 190);
  }

  .versionsInfo h4 {
      color: rgb(236, 220, 128);
      font-size: 150%;
  }

  .versionsInfo ul {
      list-style: none;
  }

  .versionsInfo li {
      margin-bottom: 1em;
  }

  .majorRelease {
      color: goldenrod;
      font-size: 120%;
  }

  .pendingVersion a{
      opacity: .5;
  }

  .titleVersion {
      color: goldenrod;
  }

  .btc {
      background-color: rgba(255, 255, 0, 0.233);
  }

  .eth {
      background-color: rgba(0, 255, 255, 0.11);
  }

  .btc, .eth {
      border-radius: 5px;
  }

  .expectations {
      list-style: circle !important;
  }

  .docLogo {
    width: 80px;
    cursor: pointer;
  }